<div id="group1" class="noselect parallax__group">
  <div class="content parallax__layer parallax__layer--base">
    <div class="wrapper glassy-dark">
      <p class="text-highlight">Najbliższy wolny termin</p>
      <p
        id="slide-right"
        class="text-highlight date"
        [ngStyle]="{ left: left }"
      >
        {{ availability }}
      </p>
    </div>
    <div class="uslugi" id="slide-usligi">
      <p class="glassy-dark">
        Kompleksowe wykończenie mieszkań i domów Wrocław i okolice
      </p>
      <p class="glassy-dark">Malowanie małych i dużych obiektów</p>
      <p class="glassy-dark">Wysoka jakość pracy potwierdzona przez klientów</p>
    </div>
  </div>
  <div
    class="arrow bounce parallax__layer parallax__layer--fore"
    (click)="scrollTo('app-slideshow')"
  ></div>
</div>
