#group1 {
  z-index: 5;
}

.content {
  background-image: url(../../../assets/x-11a-corunna-ave-16-copy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.info-box {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  top: 50%;
  //   font-size: 200%;
  margin-left: 5%;
}
p {
  text-align: center;
  margin: 0px 15px 0px 10px;
  color: white;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

#slide-left {
  position: relative;
  left: -200%;
  animation: slide-left 0.5s forwards, fadein ease-in 0.5s forwards;
  animation-delay: 0.4s;
}
#slide-right {
  position: relative;
  right: -200%;
  animation: slide-right 0.3s forwards, fadein ease-in 0.3s forwards;
  animation-delay: 1s;
}

.fade-in {
  opacity: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-left {
  100% {
    left: 0;
  }
}

@keyframes slide-right {
  100% {
    right: 0;
  }
}
