<div class="hideMe">
  <svg
    id="leftArrow"
    class="arrow"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
  >
    <g stroke-linejoin="round" stroke-linecap="round">
      <circle r="46" cx="50" cy="50" />
      <polyline points="60 25, 30 50, 60 75"></polyline>
    </g>
  </svg>
  <svg
    id="rightArrow"
    class="arrow"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
  >
    <g stroke-linejoin="round" stroke-linecap="round">
      <circle r="46" cx="50" cy="50" />
      <polyline points="40 25, 70 50, 40 75"></polyline>
    </g>
  </svg>
  <div id="masterWrap" class="centered">
    <div id="panelWrap">
      <section *ngFor="let image of images; let i = index" id="Imagesection">
        <img src="{{ image }}" alt="Image loading" />
      </section>
    </div>
  </div>
  <div class="dots">
    <div class="dot" *ngFor="let image of images"></div>
  </div>
  <div class="titleWrap">
    <div class="title" *ngFor="let image of images">Title</div>
  </div>
</div>
