.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: linear-gradient(to bottom, #2e2e2e, #000000);
  overflow-x: hidden !important;

  .circle {
    filter: blur(200px);
    position: absolute;
    border-radius: 50%;
    &:nth-of-type(1) {
      bottom: -15%;
      right: -5%;
      width: 40rem;
      height: 40rem;
      background: linear-gradient(
        30deg,
        rgb(76, 0, 255) 0%,
        rgb(0, 0, 0) 39%,
        rgb(0, 195, 255) 72%
      );
    }
    &:nth-of-type(2) {
      width: 60rem;
      height: 60rem;
      left: 5%;
      top: 10%;
      background: rgba(255, 111, 0, 1);
    }
  }
  .wrapper {
    // border: 3px yellow solid;
    padding: 20px;
    width: 90%;
    height: 80%;
    position: relative;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .text {
      overflow-y: auto;
      text-justify: inter-ideograph;
      padding: 0px 40px;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.4rem;
      text-align: justify;
      letter-spacing: normal;
      .text-title {
        padding: 20px 0px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2.3rem;
      }
    }
    .imageContainer {
      margin: auto;
      //   border: 3px rgb(0, 255, 106) solid;
      overflow: hidden;
      max-width: 50%;
      max-height: 40%;
      .photo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: none;
        object-position: top;
        width: 100%;
        height: 100%;
      }
    }
  }
}
* {
  letter-spacing: 1px;
  color: white;
}

.outline {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

@media (max-width: 1150px) {
  .text {
    font-size: 1.2rem !important;
    max-width: 90% !important;
    margin-top: 20px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100% !important;

    .imageContainer {
      max-width: 90% !important;
      max-height: 40% !important;
      margin: auto !important;

      .photo {
        object-fit: cover !important;
        object-position: top !important;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .wrapper {
    flex-direction: column;
    .text {
      font-size: 1rem !important;
      max-width: 90% !important;
      margin-top: 20px;
    }

    .imageContainer {
      max-width: 90% !important;
      max-height: 40% !important;
      margin: auto !important;

      .photo {
        object-fit: cover !important;
        object-position: top !important;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .wrapper {
    flex-direction: column;
    max-width: 90%;
    overflow-x: hidden !important;
    .text {
      max-width: 90% !important;
      margin-top: 20px;
      font-size: 1.3rem !important;
    }

    .imageContainer {
      max-width: 90% !important;
      max-height: 40% !important;
      min-width: 200px;
      min-height: 200px;
      margin: auto !important;

      .photo {
        object-fit: cover !important;
        object-position: top !important;
      }
    }
  }
}
