<div class="container noselect parallax__group">
  <div class="back-img parallax__layer parallax__layer--back"></div>
  <div
    id="wycena"
    class="scroll-target info parallax__layer parallax__layer--base"
  >
    <p>Wycena</p>
  </div>
  <div class="form parallax__layer parallax__layer--fore">
    <label for="1">1</label>
    <input id="1" type="text" />
    <label for="2">2</label>
    <input id="2" type="text" />
    <label for="3">3</label>
    <input id="3" type="text" />
    <label for="4">4</label>
    <input id="4" type="text" />
    <label for="5">5</label>
    <input id="5" type="text" />
    <label for="6">6</label>
    <input id="6" type="text" />
    <label for="7">7</label>
    <input id="7" type="text" />
    <label for="8">8</label>
    <input id="8" type="text" />
    <label for="9">9</label>
    <input id="9" type="text" />
    <label for="10">10</label>
    <input id="10" type="text" />
  </div>
</div>
