<section class="noselect">
  <div id="slide-up" class="color"></div>
  <div id="slide-left" class="color"></div>
  <div id="slide-right" class="color"></div>
  <div class="box">
    <div class="container-outer glassy">
      <div class="container-inner">
        <h2 class="large-underscore">Przykładowa wycena</h2>
        <div class="wrapper">
          <div class="item">
            <div #container></div>
            <hr />
          </div>
        </div>
        <div class="pricebox">
          <hr />
          <h2>Łącznie:</h2>
          <div class="price last">{{ sum }}</div>
        </div>
      </div>
      <app-pricing-sidebar
        class="top"
        (createComponent)="createComponent($event)"
      ></app-pricing-sidebar>
    </div>
  </div>
</section>
<app-footer class="bottom"></app-footer>
