<div class="parallax" #wrapper onclick="">
  <app-header></app-header>
  <app-content class="content" appScrollable></app-content>
  <div [hidden]="!moduleActive('Galeria')">
    <app-slideshow class="content" appScrollable></app-slideshow>
  </div>
  <div [hidden]="!moduleActive('Realizacje')">
    <app-realizacje class="content" appScrollable></app-realizacje>
  </div>
  <div [hidden]="!moduleActive('Uslugi')">
    <app-services class="content" appScrollable></app-services>
  </div>
  <app-footer></app-footer>
</div>
