.container {
  align-self: flex-start;
  position: relative;
  width: min-content;
  height: 100%;
  margin: 20px;
  word-wrap: normal;
  display: flex;
  flex-direction: column;
  .button {
    word-wrap: normal;
    white-space: break-spaces;
    font-size: 1.5em;
    min-width: max-content;
    margin: 10px 0px;
    width: 90%;
    height: min-content;
    background-color: rgba(255, 123, 0, 0.192);
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      transition: 0.2s;
      background-color: rgba(255, 123, 0, 0.596);
    }
  }
}
