<div class="container">
  <div class="circle-reflect"></div>
  <div class="ground"></div>
  <div class="wrapper grid centered">
    <div class="contacts glassy-dark">
      <h2>Dane Kontaktowe</h2>
      <div class="field-container">
        <div class="field glassy">
          <h4>Tel.kom:</h4>
          <p class="number">{{ telephone }}</p>
        </div>
        <div class="field glassy">
          <h4>E-mail:</h4>
          <p>{{ email }}</p>
        </div>
        <div class="field glassy">
          <h4>Tel.kom:</h4>
          <p class="number">{{ telephone }}</p>
        </div>
      </div>
    </div>
    <section>
      <div class="glassy-dark fb-container">
        <h4>znajdź nas na</h4>
        <h3>Facebooku</h3>
        <fa-icon
          class="glassy fb btn fa fa-facebook fa-fw"
          (click)="goToFb()"
        ></fa-icon>
      </div>
    </section>
    <div class="order glassy-dark">
      <h3>Zamów kontakt</h3>
      <form (ng-submit)="callMe()">
        <input
          id="email"
          type="email"
          class="field glassy"
          placeholder="Adres e-mail"
          [formControl]="emailControl"
        />
        <textarea
          id="body"
          type="text"
          class="field glassy"
          placeholder="Wiadomość"
          [formControl]="bodyControl"
        ></textarea>
        <button
          *ngIf="emailControl.value && bodyControl.value"
          class="button glassy"
          type="submit"
          (click)="callMe()"
        >
          Wyślij
        </button>
      </form>
    </div>
  </div>
</div>
<app-footer class="bottom"></app-footer>
