.back-img {
  background-image: url(../../../assets/Neve-Zedek-town-house-1-16.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

.info {
  height: 6%;
  //transform: skew(20deg);
  background: rgba(255, 255, 255, 0.521);
  z-index: 5;
}

p {
  text-align: center;
  color: rgb(71, 71, 71);
  // font-size: 200%;
  font-weight: bold;
  width: 100%;
}

.box {
  border-radius: 0px;
  width: 70%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.61);
}

.slideshow {
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.61);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.212);
  background-image: url(../../../assets/stone-feature-wall.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
