<div id="group2" class="noselect parallax__group">
  <div class="info parallax__layer parallax__layer--base">
    <p>Galeria</p>
  </div>
  <div class="back-img parallax__layer parallax__layer--back"></div>
  <div class="parallax__layer parallax__layer--fore">
    <div class="title">Parallax effect</div>
  </div>
</div>
<div id="group3" class="noselect parallax__group">
  <div class="info parallax__layer parallax__layer--fore">
    <div class="title">Informacje</div>
  </div>
  <div class="back-img1 parallax__layer parallax__layer--base"></div>
</div>
