<div class="container">
  <div class="company">© 2021 Ekipa Remontowa</div>
  <p class="adv">Built by SylCode</p>
  <div class="dna">
    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>
  </div>
</div>
