<div class="container">
  <p class="company">© {{ getCurrentYear() }} Ekipa Remontowa</p>
  <p class="adv">Built by SylCode</p>
  <!-- <div class="dna">
    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>

    <section class="bar">
      <div></div>
      <div></div>
      <div></div>
    </section>
  </div> -->
</div>
