.header {
  border-style: none;
  background: none;
  backdrop-filter: blur(5px);
  height: 6%;
  z-index: 10;
  h1,
  h2 {
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.07rem;
    transition: 0.3s;
    cursor: pointer;
    //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    &.start {
      font-weight: bold;
      margin-right: auto;
      margin-left: 1.5rem;
      color: white;
      align-self: center;
      padding: 0rem 1rem;
    }
    &.end {
      font-weight: 600;
      padding: 0.8rem 1rem;
      &:hover {
        transition: 0.3s;
        background: rgba(255, 255, 255, 0.048);
        backdrop-filter: blur(5px);
        color: white;
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
      }
      transition: 0.3s;
    }
  }
}

.dark-text {
  color: rgb(22, 22, 22);
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-end;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu {
  justify-self: flex-end;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 42px;
  height: 48px;
  word-wrap: normal;
  white-space: break-spaces;
  font-size: 1.5em;
  margin: 5px;

  padding: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  .icon-container {
    float: right;
    align-content: center;
    visibility: visible;
  }
  .btn {
    position: relative;
    top: 0px;
    margin: 10px;
    color: transparent;
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
    visibility: hidden;
    white-space: nowrap;
  }
  &:hover {
    height: fit-content;
    top: 20px;
    right: 0px;
    width: 250px;
    background: rgba(26, 14, 0, 0.9);
    border-radius: 5px;
    transition: 0.2s;
    cursor: auto;
    .icon-container {
      visibility: hidden;
    }
    .btn {
      transition: 0.5s;
      visibility: visible;
      color: white;
      &:hover {
        color: rgb(39, 39, 39);
        background-color: rgba(255, 255, 255, 0.87);
      }
    }
  }
}

@media (max-width: 860px) {
  .hidden-sm {
    display: none;
  }
  .menu {
    visibility: visible;
  }
}
