<div #header class="header flex">
  <h1 class="noselect start" (click)="scroll('app-content')">
    EKIPA REMONTOWA
  </h1>
  <div class="noselect flex end hidden-sm">
    <h2
      *ngIf="moduleActive('Galeria')"
      class="noselect end"
      (click)="scroll('app-slideshow'); header.focus()"
    >
      Galeria
    </h2>
    <h2
      *ngIf="moduleActive('Realizacje')"
      class="noselect end"
      (click)="scroll('app-realizacje'); header.focus()"
    >
      Realizacje
    </h2>
    <h2
      *ngIf="moduleActive('Uslugi')"
      class="noselect end"
      (click)="scroll('app-services'); header.focus()"
    >
      Usługi
    </h2>
    <h2
      *ngIf="moduleActive('Wycena')"
      class="noselect end"
      [routerLink]="['/pricing']"
      routerLinkActive="router-link-active"
    >
      Wycena
    </h2>
    <h2
      *ngIf="moduleActive('About')"
      class="noselect end"
      [routerLink]="['/about-us']"
      routerLinkActive="router-link-active"
    >
      O nas
    </h2>
    <h2
      *ngIf="moduleActive('Kontakt')"
      class="noselect end"
      [routerLink]="['/contact']"
      routerLinkActive="router-link-active"
    >
      Kontakt
    </h2>
  </div>

  <div class="mobile-menu" *ngIf="mobileMenu">
    <div class="icon-container" onclick="">
      <fa-icon class="img" size="2x" [icon]="faBars"></fa-icon>
    </div>
    <div
      *ngIf="moduleActive('Galeria')"
      class="btn glassy"
      (click)="scroll('app-slideshow')"
    >
      Galeria
    </div>
    <div
      *ngIf="moduleActive('Realizacje')"
      class="btn glassy"
      (click)="scroll('app-realizacje')"
    >
      Realizacje
    </div>
    <div
      *ngIf="moduleActive('Uslugi')"
      class="btn glassy"
      (click)="scroll('app-services')"
    >
      Usługi
    </div>
    <div
      *ngIf="moduleActive('Wycena')"
      class="btn glassy"
      [routerLink]="['/pricing']"
    >
      Wycena
    </div>
    <div
      *ngIf="moduleActive('About')"
      class="btn glassy"
      [routerLink]="['/about-us']"
    >
      O nas
    </div>
    <div
      *ngIf="moduleActive('Kontakt')"
      class="btn glassy"
      [routerLink]="['/contact']"
    >
      Kontakt
    </div>
  </div>
</div>
