<div
  class="header flex sticky"
  [ngStyle]="{ 'dark-text': scrollService.getScrollStatus() }"
>
  <h1 class="noselect start" (click)="scroll('app-content')">
    EKIPA REMONTOWA
  </h1>
  <div class="noselect flex end hidden-sm" *ngIf="!mobileMenu">
    <h2 class="noselect end" (click)="scroll('app-slideshow')">Galeria</h2>
    <h2 class="noselect end" (click)="scroll('app-realizacje')">Realizacje</h2>
    <h2 class="noselect end" (click)="scroll('app-pricing')">Wycena</h2>
    <h2 class="noselect end">O nas</h2>
    <h2 class="noselect end">Kontakt</h2>
  </div>
</div>
