<div
  class="header flex sticky"
  [ngStyle]="{ 'dark-text': scrollService.getScrollStatus() }"
>
  <p class="noselect start" (click)="scroll('app-content')">EKIPA REMONTOWA</p>
  <div class="noselect flex end hidden-sm" *ngIf="!mobileMenu">
    <p class="noselect end" (click)="scroll('app-slideshow')">Galeria</p>
    <p class="noselect end" (click)="scroll('app-realizacje')">Realizacje</p>
    <p class="noselect end" (click)="navigateTo('pricing', '')">Wycena</p>
    <p class="noselect end">O nas</p>
    <p class="noselect end">Kontakt</p>
  </div>
</div>
