.header {
  border-style: none;
  background: none;
  height: 6%;
  z-index: 10;
  h1,
  h2 {
    text-align: center;
    white-space: nowrap;
    padding: 10px 15px;
    letter-spacing: 1px;
    transition: 0.3s;
    //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    &.start {
      font-weight: bold;
      margin-right: auto;
      margin-left: 1.5rem;
      color: white;
    }
    &.end {
      font-weight: 600;
    }
    &:hover {
      transition: 0.3s;
      background: rgba(255, 255, 255, 0.048);
      backdrop-filter: blur(5px);
      color: white;
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
    }
    transition: 0.3s;
  }
}

.dark-text {
  color: rgb(22, 22, 22);
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-end;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}

@media (max-width: 860px) {
  .hidden-sm {
    display: none;
  }
}
